/* Main Page */
nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #4e534e;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  position: relative;
  border-radius: 8px; 
}


.nav-right {
  margin-left: auto; 
}

li {
  display: inline;
  position: relative;
  margin: 0; 
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0); 
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 0.3rem 0.8rem; 
  display: inline-block; 
  border-radius: 4px; 
  transition: all 0.3s ease; 
  margin: 0; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0;
  min-width: 150px;
  background-color: white;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu a {
  padding: 0.5rem;
  white-space: nowrap;
}


.dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-menu a:hover {
  background-color: #db721c;
}


a:hover {
  background-color: #c0612a; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}

header {
  position: relative;
  z-index: 5; 
}

/* Logo */
.logo-container {
  position: absolute;
  top: 0px; 
  left: -80px; 
  z-index: 10; 
}

.logo {
  width: 120px; 
  height: auto;
}

.logo-container {
  position: absolute;
  top: 10px; 
  left: 50px;
  z-index: 20; 
}

.logo {
  width: clamp(150px, 20vw, 300px); 
  height: auto;
}
